@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');

@import "tailwindcss";

@layer base {
  html, body, #root {
    @apply h-full m-0;
  }

  body {
    @apply bg-background text-text;
  }

  html {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  @media (min-width: 1280px) {
    html {
      font-size: 18px;
    }
  }
}

@layer base {
}

@theme{

  --font-sans: "Noto Sans Lao", sans-serif;

  --color-text: var(--text);
  --color-text-disabled: var(--text-disabled);

  --color-background: var(--background);
  
  --color-disabled: var(--disabled);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);

  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent-dark: var(--accent-dark);

  --breakpoint-*: initial;
  --breakpoint-phone: 32rem;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
};

:root {
  --background: #F7FBFD;
;

  --text: #0A1A33;
  --text-disabled: #8A96A3;

  --disabled: #D6DCE3;

  --primary: #1B3F65;
  --primary-light: #255382;
  --primary-dark: #14314F;

  --secondary: #B1CEE7;
  --secondary-light: #C2DCF1;
  --secondary-dark: #9BB8D1;

  --accent: #497EA7;
  --accent-light: #5E93BC;
  --accent-dark: #3D6B8D;
}

.dark {
  --background: #020608;

  --text: #CCDCF5;
  --text-disabled: #7E8A96;

  --disabled: #2A3440;

  --primary: #9ABEE4;
  --primary-light: #AED0F3;
  --primary-dark: #7EA6CF;

  --secondary: #18354E;
  --secondary-light: #244764;
  --secondary-dark: #11283B;

  --accent: #588DB6;
  --accent-light: #6EA6D1;
  --accent-dark: #46779C;
}

