@import "tailwindcss";

@layer base {
  :root {
    --text-50: #eaf0fb;
    --text-100: #d4e2f7;
    --text-200: #aac4ee;
    --text-300: #7fa7e6;
    --text-400: #5589dd;
    --text-500: #2a6cd5;
    --text-600: #2256aa;
    --text-700: #194180;
    --text-800: #112b55;
    --text-900: #08162b;
    --text-950: #040b15;
    
    --background-50: #ebf5fa;
    --background-100: #d6ebf5;
    --background-200: #add6eb;
    --background-300: #85c2e0;
    --background-400: #5cadd6;
    --background-500: #3399cc;
    --background-600: #297aa3;
    --background-700: #1f5c7a;
    --background-800: #143d52;
    --background-900: #0a1f29;
    --background-950: #050f14;
    
    --primary-50: #ebf2fa;
    --primary-100: #d7e5f4;
    --primary-200: #aecbea;
    --primary-300: #86b1df;
    --primary-400: #5e97d4;
    --primary-500: #367dc9;
    --primary-600: #2b64a1;
    --primary-700: #204b79;
    --primary-800: #153251;
    --primary-900: #0b1928;
    --primary-950: #050d14;
    
    --secondary-50: #ebf3f9;
    --secondary-100: #d8e6f3;
    --secondary-200: #b1cee7;
    --secondary-300: #8ab5db;
    --secondary-400: #639dcf;
    --secondary-500: #3c84c3;
    --secondary-600: #306a9c;
    --secondary-700: #244f75;
    --secondary-800: #18354e;
    --secondary-900: #0c1a27;
    --secondary-950: #060d14;
    
    --accent-50: #edf3f7;
    --accent-100: #dce7ef;
    --accent-200: #b8cfe0;
    --accent-300: #95b6d0;
    --accent-400: #719ec1;
    --accent-500: #4e86b1;
    --accent-600: #3e6b8e;
    --accent-700: #2f506a;
    --accent-800: #1f3647;
    --accent-900: #101b23;
    --accent-950: #080d12;
    
  }
  .dark {
    --text-50: #040b15;
    --text-100: #08162b;
    --text-200: #112b55;
    --text-300: #194180;
    --text-400: #2256aa;
    --text-500: #2a6cd5;
    --text-600: #5589dd;
    --text-700: #7fa7e6;
    --text-800: #aac4ee;
    --text-900: #d4e2f7;
    --text-950: #eaf0fb;
    
    --background-50: #050f14;
    --background-100: #0a1f29;
    --background-200: #143d52;
    --background-300: #1f5c7a;
    --background-400: #297aa3;
    --background-500: #3399cc;
    --background-600: #5cadd6;
    --background-700: #85c2e0;
    --background-800: #add6eb;
    --background-900: #d6ebf5;
    --background-950: #ebf5fa;
    
    --primary-50: #050d14;
    --primary-100: #0b1928;
    --primary-200: #153251;
    --primary-300: #204b79;
    --primary-400: #2b64a1;
    --primary-500: #367dc9;
    --primary-600: #5e97d4;
    --primary-700: #86b1df;
    --primary-800: #aecbea;
    --primary-900: #d7e5f4;
    --primary-950: #ebf2fa;
    
    --secondary-50: #060d14;
    --secondary-100: #0c1a27;
    --secondary-200: #18354e;
    --secondary-300: #244f75;
    --secondary-400: #306a9c;
    --secondary-500: #3c84c3;
    --secondary-600: #639dcf;
    --secondary-700: #8ab5db;
    --secondary-800: #b1cee7;
    --secondary-900: #d8e6f3;
    --secondary-950: #ebf3f9;
    
    --accent-50: #080d12;
    --accent-100: #101b23;
    --accent-200: #1f3647;
    --accent-300: #2f506a;
    --accent-400: #3e6b8e;
    --accent-500: #4e86b1;
    --accent-600: #719ec1;
    --accent-700: #95b6d0;
    --accent-800: #b8cfe0;
    --accent-900: #dce7ef;
    --accent-950: #edf3f7;
    
  }
}
